.cart-submit {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
}

.cart-select {
    margin: 20px auto 30px auto;
}

.cart-quantity {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.cart-quantity > div {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}